@import "names";
@import "basicStyle";
@import "src/pages/pages";
@import "src/components/NewItem/newItem";
@import "src/components/CommentItem/commentItem";

body {
  background: #ffffff;
}

#root {
  max-width: 1440px;
  min-width: 320px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  background: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  font-weight: bolder;
  font-size: 16px;
  line-height: 20px;
  color: #f6f6f6;
  border-radius: 15px;
  cursor: pointer;
  border: 1px solid var(--blue);
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: 0.2s all ease;

  &:hover {
    -webkit-box-shadow: 0 5px 14px 0 rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0 5px 14px 0 rgba(34, 60, 80, 0.2);
    box-shadow: 0 5px 14px 0 rgba(34, 60, 80, 0.2);
  }
}
