@import "variables";
@import "nullStyles";
@import "src/pages/pages";
@import "src/components/NewItem/newItem";
@import "src/components/CommentItem/commentItem";

body {
  background: rgba(185, 235, 246, 0.9);
}
#root {
  max-width: 1440px;
  min-width: 320px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 10px;
}

button {
  display: inline-block;
  //align-items: baseline;
  width: 30%;
  //margin-right: 70%;
  //margin-left: 50%;
  //vertical-align: bottom;
  background: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  font-weight: bolder;
  font-size: x-large;
  color: $light-blue;
  border-radius: 50px;
  padding: 40px 30px;
  min-width: 100px;
  text-align: center;
  cursor: pointer;
  transition: background-color var(--duration) ease-in-out,
    border-color var(--duration) ease-in-out;
  border: 1px solid var(--blue);
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  -webkit-user-select: none;
  touch-action: manipulation
}
button:hover {
  background-color: $light-blue;
  color: #f6f6f6;
  position: relative;
  overflow: hidden;
  transition: 0.2s all ease;
  box-shadow: rgba(30, 3, 213, 0.5) 0 10px 90px;
}
